# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [9]:
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
sal['OvertimePay'].max()

245131.88

** Which employee has the highest amount of OvertimePay in the dataset ? **

In [27]:
sal[sal['OvertimePay']==sal['OvertimePay'].max()]['EmployeeName']

1    GARY JIMENEZ
Name: EmployeeName, dtype: object

In [29]:
# Alternate method
sal['EmployeeName'].iloc[sal['OvertimePay'].argmax()]

'GARY JIMENEZ'

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [35]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [43]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

#Alternate approach
#sal['TotalPayBenefits'][sal['EmployeeName']=='JOSEPH DRISCOLL']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [53]:
#sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']
sal['EmployeeName'].iloc[sal['TotalPayBenefits'].argmax()]

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [57]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [73]:
sal.groupby('Year')['BasePay'].mean()

#alternate approach
#sal.groupby('Year').mean('BasePay')['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [77]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [107]:
jobs = sal.groupby('JobTitle')['Id'].count().reset_index()
jobs.sort_values(by='Id', ascending=False).head()

                          JobTitle    Id
2056              Transit Operator  7036
1902                 Special Nurse  4389
1577              Registered Nurse  3736
1544  Public Svc Aide-Public Works  2518
1482              Police Officer 3  2421

In [113]:
# alternate method
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [125]:
yr2013 = sal[sal['Year']==2013]
ct = yr2013['JobTitle'].value_counts().reset_index()
ct[ct['count']==1]

                            JobTitle  count
849          Laboratory Technician I      1
850        Sctry, Juv Probation Comm      1
851           Drug Court Coordinator      1
852              IS Operator-Journey      1
853      Court Asst., Superior Court      1
...                              ...    ...
1046     Sr General Utility Mechanic      1
1047     Sprv Adult Prob Ofc (SFERS)      1
1048               Mayoral Staff XII      1
1049  Pr Investigator, Tax Collector      1
1050         Senior Assessment Clerk      1

[202 rows x 2 columns]

In [135]:
#alternate method
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [173]:
sf = sal['JobTitle'].apply(lambda s: 'chief' in s.lower())
sal['Id'][sf==True].nunique()

627

In [175]:
#alternate method, assuming each record represents a unique employee in the dataset
sum(sf)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [185]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)
sal['JobTitleLength'].corr(sal['TotalPayBenefits'])

-0.03687844593260671

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!