___


This notebook will go through the below topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
* classes
____

## Data types

### Numbers

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
4 % 2

0

In [8]:
5 % 2

1

In [9]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [11]:
# Can not start with number or special characters
name_of_var = 2
name_of_var

2

In [12]:
x = 2
y = 3

In [13]:
z = x + y

In [14]:
z

5

### Strings

In [16]:
'single quotes'

'single quotes'

In [17]:
"double quotes"

'double quotes'

In [18]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

### Lists

In [27]:
[1,2,3]

[1, 2, 3]

In [28]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [29]:
my_list = ['a','b','c']

In [30]:
my_list.append('d')

In [31]:
my_list

['a', 'b', 'c', 'd']

In [32]:
my_list[0]

'a'

In [33]:
my_list[1]

'b'

In [34]:
my_list[1:]

['b', 'c', 'd']

In [35]:
my_list[:1]

['a']

In [36]:
s = '0123456'

s[0:2], s[:6], s[3:7]

('01', '012345', '3456')

In [37]:
my_list[0] = 'NEW'

In [38]:
my_list

['NEW', 'b', 'c', 'd']

In [39]:
nest = [1,2,3,[4,5,['target', 456]]]

In [40]:
nest[3]

[4, 5, ['target', 456]]

In [41]:
nest[3][2]

['target', 456]

In [42]:
nest[3][2][0]

'target'

In [43]:
nest[3][2][0][0]

't'

### Removing elements from a list - remove(), del and pop()

In [74]:
# remove() removes the first matching value, not a specific index
a = [0, 64, 3, 64]
a.remove(64)
a

[0, 3, 64]

In [86]:
# del removes the item at a specific index; note this does not uses ()
a = [9, 8, 7, 6]
del a[1]
a

[9, 7, 6]

In [88]:
# pop() removes the item at a specific index and returns it
a = [4, 3, 5]
a.pop(1)

3

### Dictionaries

In [45]:
d = {'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [46]:
d['key1']

'item1'

In [47]:
d = {'k1':45, 'k2':'abc', 'k3':True, 'k4':[4,32,23], 'k5':{'key1':123, 'key2': 456}}
d['k2'][0], d['k3'], d['k4'][1], d['k5']['key2']

('a', True, 32, 456)

In [48]:
d = {'k1':45, 'k2':{'innerkey':[1,2,45]}}
d['k2']['innerkey']

[1, 2, 45]

In [49]:
d['k2']['innerkey'][2]

45

### Booleans

In [51]:
True

True

In [52]:
False

False

### Tuples 
#### Tuples are similar to lists except they are immutable; their contents cannot be changed

In [54]:
t = (1,2,3)

In [55]:
t[0]

1

In [56]:
#t[0] = 'NEW' # -> this would throw an error

TypeError: 'tuple' object does not support item assignment

### Sets
#### Sets are similar to lists except they only contain unique elements; if you pass duplicate elements to a set, it will remove the duplicates

In [57]:
{1,2,3}

{1, 2, 3}

In [59]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [61]:
l = [1,1,1,2,2,3,3,3,3]
s = set(l)
s

{1, 2, 3}

In [63]:
s.add(5)
s

{1, 2, 3, 5}

### Constructor functions - list(), tuple(), set(), dict()
#### These constructors can be used to convert from one iterable to another. You can only pass iterables as arguments to these

In [66]:
l = [1,2,3,3,4,4,4]
t = (1,2,3,3,4,4,4)
s = {1,2,3,3,4,4,4}

# convert tuple and set to list
tl = list(t)
sl = list(s)
print("Tuple converted to List is {} and Set converted to List is {}".format(tl,sl))

# convert list and set to tuple
lt = tuple(l)
st = tuple(s)
print("List converted to Tuple is {} and Set converted to Tuple is {}".format(lt,st))

# convert list and tuple to set
ls = set(l)
ts = set(t)
print("List converted to Set is {} and Tuple converted to Set is {}".format(ls,ts))

# convert list to dictionary
# this requires passing a list of tuples to dict() method
ltuple = [('x',45), ('y',20), ('z', 37)]
d = dict(ltuple)
print("List converted to Dictionary is {}".format(d))

# convert dictionary to list
# this requires using dict.items, dict.keys or dict.values depending on the requirement
d = {'x': 45, 'y': 20, 'z': 37}
lkv = d.items()
lk  = d.keys()
lv  = d.values()
print("Dictionary converted to keys/values is {}, keys is {}, values is {}".format(lkv,lk,lv))

Tuple converted to List is [1, 2, 3, 3, 4, 4, 4] and Set converted to List is [1, 2, 3, 4]
List converted to Tuple is (1, 2, 3, 3, 4, 4, 4) and Set converted to Tuple is (1, 2, 3, 4)
List converted to Set is {1, 2, 3, 4} and Tuple converted to Set is {1, 2, 3, 4}
List converted to Dictionary is {'x': 45, 'y': 20, 'z': 37}
Dictionary converted to keys/values is dict_items([('x', 45), ('y', 20), ('z', 37)]), keys is dict_keys(['x', 'y', 'z']), values is dict_values([45, 20, 37])

In [90]:
# convert list to string
l = ['a', 'g', 'e', 'd', 'r']
st = ''.join(l)
print("List converted to String is {} ; Original List is {}".format(st,l))

# convert string to list
st = 'agedr'
l = list(st)
print("String converted to List is {} ; Original String is {}".format(l,st))

List converted to String is agedr ; Original List is ['a', 'g', 'e', 'd', 'r']
String converted to List is ['a', 'g', 'e', 'd', 'r'] ; Original String is agedr

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [16]:
# only 1st true condition is executed; rest are skipped even if they are true
if 1==2:
    print("first")
elif 4>=4:
    print("second")
elif 5>3:
    print("third")
else:
    print("last")

second

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [18]:
for i in ['abc', 'sdf', [1,2,3]]:
    print("list is {} and first character is {}".format(i, i[0]))

list is abc and first character is a
list is sdf and first character is s
list is [1, 2, 3] and first character is 1

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()
#### range(start, stop, step) -> start and step are optional with default values of 0 and 1 respectively

In [8]:
range(5)

range(0, 5)

In [20]:
for x in range(4,10):
    print(x)

4
5
6
7
8
9

In [24]:
for x in range(10,4,-1):
    print(x)

10
9
8
7
6
5

In [22]:
l = list(range(4,10))
l

[4, 5, 6, 7, 8, 9]

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [44]:
lst = [1,2,3,4]

In [46]:
sq = []
for i in lst:
    sq.append(i**2)
print(sq)

[1, 4, 9, 16]

In [50]:
sq = [i**2 for i in lst]
sq

[1, 4, 9, 16]

In [26]:
l = [n*10 for n in lst]
l

[10, 20, 30, 40]

In [56]:
str = 'lower case string'

upr = [i.upper() for i in str]
print(upr)

['L', 'O', 'W', 'E', 'R', ' ', 'C', 'A', 'S', 'E', ' ', 'S', 'T', 'R', 'I', 'N', 'G']

## functions

In [27]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [28]:
my_func

In [29]:
my_func()

default

In [30]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## Lambda
#### short-form for writing a function

In [32]:
def times2(var):
    return var*2

In [33]:
times2(2)

4

In [34]:
lambda var: var*2

In [40]:
a = lambda x:x**2
a(3)

9

## Map
#### Applies a given function to a given argument such as a list

In [57]:
l = [1,2,3,4,5]

In [63]:
# applying lambda function directly to a list produces errors
cube_fnc = lambda x:x**3
cube_fnc(l)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [59]:
# use map to apply cube function to the list
cube = map(cube_fnc,l)

# need to convert map to a list
print("map object is {} and cube output is {}".format(cube, list(cube)))

map object is <map object at 0x123467d30> and cube output is [1, 8, 27, 64, 125]

In [61]:
list(map(lambda var: var*10,l))

[10, 20, 30, 40, 50]

## Filter
#### Applies an exclusion function to a list; Filters out elements from a list based on a function

In [67]:
# even number test function
even_fnc = lambda x:x%2==0

# using map will results in a list of boolean values
even = list(map(even_fnc,l))
even

[False, True, False, True, False]

In [69]:
# In order to filter even numbers from the list, we need to use "filter"
even = list(filter(even_fnc, l))
even

[2, 4]

In [75]:
out = list(filter(lambda x:x*10>25, l))
out

[3, 4, 5]

## methods

In [30]:
st = 'HELLO my name is SAM'

In [32]:
st.lower()

'hello my name is sam'

In [34]:
st.upper()

'HELLO MY NAME IS SAM'

In [36]:
st.split()

['HELLO', 'my', 'name', 'is', 'SAM']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [38]:
lst = [1,2,3]

In [40]:
lst.pop()

3

In [42]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

## Tuple unpacking
#### Technique to unpack individual tuple elements from a list

In [46]:
l = [(1,2), (5,2), (8,4)]
l

[(1, 2), (5, 2), (8, 4)]

In [47]:
for i in l:
    print(i)

(1, 2)
(5, 2)
(8, 4)

In [48]:
for a,b in l:
    print(a)

1
5
8

In [49]:
for a,b in l:
    print(b)

2
2
4

## Classes

In [3]:
# define the class
class MyClass:
    x=5

# create an instance or object
obj = MyClass()
obj.x

5

In [9]:
# Use __init__ function to instantiate the class; pass arguments
class Person:
    def __init__(self, name, age):
        self.nm = name
        self.ag = age

person1 = Person("John", 36)
person2 = Person("Adam", 40)
person1.nm, person1.ag, person2.nm, person2.ag

('John', 36, 'Adam', 40)

In [13]:
# define functions inside a class
class Person:
    def __init__(self, name, age):
        self.nm = name
        self.ag = age

    def myFunc(self):
        print("My name is {} and age is {}".format(self.nm, self.ag))

obj = Person("John", 36)

obj.myFunc()

My name is John and age is 36

In [5]:
# Inheritance - create a child class by passing another class as an argument
class Student(Person):
    pass

s = Student("Mike", 32)
s.myFunc()

My name is Mike and age is 32

In [15]:
# Adding a __init__ function in child class can override parent class properties
# Use super() to access parent class properties
class Student(Person):
    def __init__(self, name, age, grade, school):
        self.gr = grade
        self.sc = school
        super().__init__(name, age)

    def stFunc(self):
        print("My grade is {} and school is {}".format(self.gr, self.sc))

s = Student("Mike", 32, "Sophomore", "ACC")
s.myFunc(), s.stFunc()

My name is Mike and age is 32
My grade is Sophomore and school is ACC

(None, None)

In [17]:
# Polymorphism - same method is applied to different classes
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [14]:
# Polymorphism with Inheritance
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

# Great Job!